@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksands", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(orange, yellow, red);
}

.wrapper {
    background: #fff;
    border-radius: 7px;
    padding: 25px 30px;
    background: #fff;
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 35px 0 20px;
}

form .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

form .row label {
    font-size: 18px;
    margin-bottom: 5px;
}

form :where(textarea,
select,
button) {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}

form .row .outer {
    height: 47px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid#999;
}

form .row select {
    font-size: 14px;
}

form button {
    height: 52px;
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: rgb(77, 70, 70);
}